<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>爱情面板-404页面</title>
    <meta name="author" content="LovePanel Team" >
    <meta name="copyright" content="www.lovepanel.cn" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/lovepanel.css">
  </head>
  <body>
  	<!-- start navbar -->
	<div class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand love-logo" href="/">&nbsp;</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8"></script>
  </body>
</html>