<!-- 页尾 -->
<div id="footer">
<div class="container text-center">
      <p class="text-muted credit"><abbr title="这是个好网站">爱情面板</abbr>©2013 All Rights Reserved <a href="http://aokunsang.iteye.com">王坤</a> and 
	  <a href="http://user.qzone.qq.com/364164801">孙小爽</a>。
	  <br/>Powered By aokunsang<br/><a href="#">京ICP备11008151号</a>
	  </p>
   </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
<!-- bootstrap validation plugin -->
<script src="/javascripts/bootstrap3-validation.js"></script>