<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>爱情面板-<%=title%></title>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <meta name="keywords" content="秀爱情，爱情面板，展示爱情，爱情连连看，爱情魔力，爱情无极限" >
    <meta name="description" content="爱情面板是一个秀爱情、展示爱情的平台。通过爱情面板可以秀出你们的真爱，传递你们的真情，让你们的爱情无处不在。" >
    <meta name="author" content="LovePanel Team" >
    <meta name="copyright" content="www.lovepanel.cn" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/lovepanel.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/stylesheets/html5shiv.min.js"></script>
        <script src="/stylesheets/respond.min.js"></script>
    <![endif]-->
  </head>