<!-- ./代办事情组 -->
<div data-spy="affix" data-offset-top="10" data-offset-bottom="150">
	 <div class="list-group" style="width:250px;">
	  <a class="list-group-item">
	   <span style="line-height:2.7">爱情日志<button class="btn btn-primary pull-right" onClick="location.href='/b/post'">发表</button></span>
	  </a>
	  <a class="list-group-item">
	  <span style="line-height:2.7">爱情日志<button class="btn btn-primary pull-right" onClick="location.href='/u/admin'">管理</button></span>
	  </a>
	  <a href="/admin/reckme" class="list-group-item" style="line-height:2.7">与我有关<span class="badge" style="margin-top:8px;"><%=user.reckmenum%></span></a>
	  <a href="/u/upt" class="list-group-item" style="line-height:2.7">个人信息</a>
	  <a href="/u/modifypwd" class="list-group-item" style="line-height:2.7">修改密码</a>
	</div>
</div>